.header {
    width: 600px;
    margin: auto;
    border: 1px solid blue; 
}

.header1 {
    padding: 20px;
    
}

.item {
    display: flex;
    margin-top: 20px;
}
.item_left {
    width:25%;
    height: 30px;
    background-color: rgb(72, 165, 80);
    padding-left: 15px;
    line-height: 30px;
    margin-right: 20px;
    color: #fff;
    
}

.item_right {
    height: 30px;
    width: 70%;
}

.drop {
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
}

.keyword {
    height: 26px;
    width:99% ;
    padding: 0;
}

.search {
    margin: 30px auto;
    width: 30%;
    height: 40px;
    display: block;
    background-color: rgb(72, 165, 80); 
    border: none;
    color: #fff;  
    cursor: pointer;
}

/* Màn hình show */

.show_sv {
    margin-left: 20px;
    margin-bottom: 20px;
}
.add {
    margin-left: 480px;
    background-color: rgb(72, 165, 80); 
    padding: 8px 25px;
    border: none;
    cursor: pointer;

}

.header2 {
    display: flex;
}

.left {
    width: 350px;
    margin:0px 0px 20px 20px;
}
h1 {
    font-size: 1rem;
    margin: 0px;
}
.them {
    color: #fff;
    text-decoration: none;
}

.right {
    margin:0px 0px 20px 100px;

}

.right td {
    
    padding: 5px 10px;
    background-color: rgb(72, 165, 80);
    color: #fff;
    cursor: pointer;
    
}
